p{
    color: red;
    font-weight: bold;
}
#minombre{
    color: yellow;
}
.colorPrincipal{
    color: green;
}
#cuadrado{
    width: 400px;
    height: 200px;
    background-color: pink;
    color: aqua;
}